{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "@programic/eslint-config-typescript",
    "plugin:jest/all"
  ],
  "env": {
    "jest": true,
    "jest/globals": true
  },
  "rules": {
    "jest/no-conditional-in-test": "off",
    "jest/prefer-expect-assertions": ["error", {
      "onlyFunctionsWithAsyncKeyword": true
    }]
  }
}
